body {
  margin: unset;
}
h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
p {
  margin: unset;
}
:root {
  font-family: "Montserrat", sans-serif;
}
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
body:has(.modal.is_active) {
  overflow: hidden;
}
.container {
  display: flex;
  height: 500vh;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./images/background.png");
  background-position: center;
  background-size: cover;
}
