/*! Resets */
body {
  margin: unset;
}
h1,
h2,
h3 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
ul {
  margin: unset;
  padding: unset;
  list-style: none;
}
p {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}
hr,
button {
  all: unset;
}

fieldset,
legend {
  all: unset;
  display: block;
  inline-size: 100%;
}
input[type="text"],
input[type="password"],
select {
  all: unset;
  display: block;
  inline-size: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  box-sizing: border-box;
}
textarea {
  all: unset;
  inline-size: 100%;
  line-height: 1.4;
  padding: 12px;
  box-sizing: border-box;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  color: unset;
  text-decoration: unset;
}
/* ! Typography */
:root {
  font-family: "Noto Sans KR", sans-serif;
}

/* !  Commons (공통적인) */
/* 스크롤바의 폭 너비 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /*height는 콘텐츠양이 많아지고 스크롤의  최소사이즈 */
}
::-webkit-scrollbar-thumb:enabled {
  background: var(--color-Primary-color02); /* 스크롤바 색상 */
  border-radius: 4px; /* 스크롤바 둥근 테두리 */
}
::-webkit-scrollbar-track:enabled {
  background: var(--color-sub-color03); /*스크롤바 뒷 배경 색상*/
}
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.button {
  background-color: var(--color-Primary-color02);
  color: var(--color-Primary-color01);
  display: inline-block;
  height: 48px;
  padding: 0 14px;
}
.button.type_large {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/* ! CSS Variables */
:root {
  --color-Primary-color01: #fff;
  --color-Primary-color02: #70c994;
  --color-Primary-color03: #107b0e;
  --color-Primary-color04: #333333;
  --color-Primary-color10: #000000;
  --color-sub-color01: #dddddd;
  --color-sub-color02: #f4f4f4;
  --color-sub-color03: #d9d9d9;
  --color-sub-color04: #999999;
  --color-sub-color05: #666666;
}
/* ! Layouts */
.l_row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 18px;
}

.l_row_thin {
  gap: 4px;
}
.l_row_wide {
  gap: 20px;
}

.l_col_12_12 {
  grid-column: auto / span 12;
}
.l_col_11_12 {
  grid-column: auto / span 11;
}
.l_col_10_12 {
  grid-column: auto / span 10;
}
.l_col_9_12 {
  grid-column: auto / span 9;
}
.l_col_8_12 {
  grid-column: auto / span 8;
}
.l_col_7_12 {
  grid-column: auto / span 7;
}
.l_col_6_12 {
  grid-column: auto / span 6;
}
.l_col_5_12 {
  grid-column: auto / span 5;
}
.l_col_4_12 {
  grid-column: auto / span 4;
}
.l_col_3_12 {
  grid-column: auto / span 3;
}
.l_col_2_12 {
  grid-column: auto / span 2;
}
.l_col_1_12 {
  grid-column: auto / span 1;
}

/* ! Components */
.wrapper {
  background-color: var(--color-Primary-color02);
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1920px;
  height: 100%;
  max-height: 1080px;
  display: flex;
}
.menu-bar {
  width: 154px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* justify-content: center; */
  /* ? 중앙정렬 이긴 하나 창이 세로로 줄어들때
	? 위 아래로 잘림 */
  margin: auto 0;
  /* ? 중앙정렬도 되고 창이 세로로 줄어들때 
	? content가 잘리지않는다  */
  gap: 10px;
}
.menu-list {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* ? shrink 설명을하자면.. 
	? 기본값이 1인데 1로 적용해보고 세로로 창을 줄여보자
	? 그러면 menu-list크기가 줄어든다. */
  gap: 12px;
  border-radius: 30px 0px 0px 30px;
  aspect-ratio: 1/1;
  /* ? .menu-bar에   width: 154px;줬을때 
	? 비율이 1/1로 유지 하게  */
  position: relative;
  z-index: 1;
}
.list-title {
  color: var(--color-Primary-color02);
  font-size: 16px;
  font-weight: 700;
}
.menu-list {
  color: var(--color-Primary-color02);
}
.menu-list.is_active {
  background-color: var(--color-Primary-color01);
  color: var(--color-Primary-color03);
}
.menu-list.is_active::before,
.menu-list.is_active::after {
  content: " ";
  position: absolute;
  width: 24px;
  height: 24px;
  margin: -24px 0;
  /* * top, bottom 위치를 옮기는 역할 
	* 코드 줄여주기 */
  right: 0;
  z-index: 1;
}
.menu-list.is_active::before {
  background-image: url("./images/top-round.svg");
  /* top: -24px; */
  top: 0;
}
.menu-list.is_active::after {
  background-image: url("./images/bottom-round.svg");
  /* bottom: -24px; */
  bottom: 0;
}
.list-logo {
  width: 64px;
  height: 64px;
  transform: scale(0.8);
  transition: transform 0.4s;
}
.menu-list.is_active .list-logo {
  transform: scale(1);
}
.menu-list.is_active p {
  color: var(--color-Primary-color04);
}
.contents {
  background-color: var(--color-Primary-color01);
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  border-radius: 28px;
  padding: 30px;
}
.content {
  display: flex;
  height: 100%;
}
.content-main {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}
.content-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-right: 20px;
  box-sizing: border-box;
}
.content-header {
  display: flex;
  min-height: 60px;
  border-bottom: 1px solid var(--color-Primary-color10);
}
.content-title {
  display: flex;
  align-items: baseline;
  gap: 20px;
  padding: 9px 0;
}
.title {
  color: var(--color-Primary-color04);
  font-size: 28px;
  font-weight: 700;
}
.title-sub {
  color: var(--color-sub-color04);
  font-size: 16px;
  font-weight: 500;
}
.content-header-item {
  background-color: var(--color-sub-color02);
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 48px;
  height: 48px;
  border-radius: 20px;
  overflow: hidden;
}
.header-item-icon::before {
  content: " ";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("./images/icon-filtering.svg");
}
.content-section {
  overflow: auto;
}
.platform {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.platform-header {
  display: flex;
  align-items: center;
  padding: 30px 0 12px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);

  margin-top: 1px;
}
.platform-title {
  color: var(--color-Primary-color10);
  font-size: 24px;
  font-weight: 700;
}
.platform-title-sub {
  color: var(--color-sub-color04);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.platform-title-sub::before {
  content: " ";
  background-color: var(--color-sub-color03);
  width: 20px;
  height: 1px;
  margin: 0.2em 10px 0;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-cover {
  object-fit: cover;
  aspect-ratio: 35 / 24;
  border-bottom: 4px solid var(--color-Primary-color10);
}
.card-header {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.card-title {
  color: var(--color-Primary-color04);
  font-size: 20px;
  font-weight: 700;
}
.card-header::after {
  content: " ";
  width: 14px;
  height: 14px;
  background-image: url("./images/office-arrow.svg");
  margin-left: auto;
  margin-top: -2px;
  margin-right: 4px;
}
.card-description {
  color: var(--color-sub-color04);
  font-size: 14px;
  font-weight: 500;
  max-width: 220px;
  margin-top: 16px;
}
/* ! 회의실 추가 링크 */
/* .platform-link {
  background-color: var(--color-sub-color02);
  border-radius: 24px;
  width: fit-content;
  display: flex;
  padding: 12px 16px 12px 8px;
  gap: 10px;
  position: absolute;
  right: 580px;
  bottom: 55px;
}
.platform-link::before {
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url("./images/bottom-arrow.svg");
}
.add-name {
  color: var(--color-sub-color05);
  font-size: 14px;
  font-weight: 500;
} */
/* !------------- */
.side-handler {
  background-color: var(--color-sub-color01);
  width: 4px;
  margin: 10px 10px;
  cursor: grab;
}
.content-aside {
  width: 480px;
  flex-shrink: 0;
}
.aside-panel {
  height: 100%;
  overflow: auto;
}
.slider-main {
  box-shadow: inset 0 0 20px palevioletred;
  aspect-ratio: 1032 / 680;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}
.slider-contents {
  display: flex;
}
.slider-button {
  background-color: var(--color-Primary-color04);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto -40px;
  width: 40px;
  height: 40px;
  transition: margin 0.4s;
}
.slider-button.type-previous,
.slider-button.type-next {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}
.slider-button.type-previous {
  left: 0;
  background-image: url("./images/previous-arrow.png");
}
.slider-button.type-next {
  right: 0;
  background-image: url("./images/next-arrow.png");
}
.slider-main:hover .slider-button {
  margin: auto 0;
}
.slider-item {
  width: 100%;
  flex-shrink: 0;
}
.slider-pager {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.slider-pager-item {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-pager-item::before {
  background-color: var(--color-sub-color05);
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.slider-pager-item.is_active::before {
  background-color: var(--color-Primary-color02);
}
.form-field {
  margin-bottom: 24px;
}
.form-field-label {
  color: var(--color-Primary-color04);
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
}
.form-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  background-color: var(--color-Primary-color01);
  border-top: 1px solid var(--color-sub-color01);
}
.input {
  border: 2px solid var(--color-sub-color01);
  border-radius: 4px;
}
.input:focus-within {
  border-color: var(--color-Primary-color04);
}
/* .radio {
} */
.radio-card {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px;
  border: 2px solid var(--color-sub-color03);
  border-radius: 6px;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input:focus + .radio-card {
  border-color: var(--color-Primary-color03);
}
.radio input[disabled] + .radio-card {
  background-color: var(--color-sub-color03);
  color: var(--color-sub-color05);
  cursor: not-allowed;
}
/* .radio input[type="radio"]:checked + .radio-card {
  background-color: gold;
} */
/* ? 인풋 라디오가 체크 될시 다음 요소는 어떻게 될건지 */
.radio-card::before {
  content: " ";
  width: 14px;
  height: 14px;
  border: 4px solid var(--color-sub-color04);
  border-radius: 50%;
  line-height: 2px;
}
.radio input[type="radio"]:checked + .radio-card::before {
  background-color: var(--color-sub-color04);
  box-shadow: inset 0 0 0 3px white;
}
.button.type_large {
  border-radius: 8px;
}
.modal {
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}
.modal.is_active {
  display: block;
}
.modal-inside {
  height: 100%;
  display: flex;
}
.modal-window {
  background-color: var(--color-Primary-color01);
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 564px;
  max-height: 330px;
  border-top: 4px solid var(--color-Primary-color04);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.modal-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding: 20px 12px;
  box-sizing: border-box;
}
.modal-header-section {
  display: flex;
  align-items: center;
}
.modal-filter-button {
  background-image: url("./images/icon-filtering.svg");
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8px 6px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 12px;
}
.modal-title {
  color: var(--color-Primary-color04);
  font-size: 18px;
  font-weight: 700;
}
.modal-cancel-button {
  background-image: url("./images/modal-cancel.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: auto;
}
.modal-main {
  padding: 26px 30px;
}
.form.type_modal {
  width: 50%;
}
.modal-feild-title {
  color: var(--color-Primary-color04);
  font-size: 14px;
  font-weight: 500;
}
.modal-checkeds input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.modal-checkeds {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  margin-top: 12px;
}
.modal-checked {
  display: flex;
}
.modal-checked-card {
  color: var(--color-Primary-color04);
  font-size: 14px;
  font-weight: 500;
  position: relative;
}
.modal-checked-card::before {
  content: " ";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-Primary-color01);
  border: 2px solid var(--color-sub-color01);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: -6px;
  margin-right: 10px;
}
.modal-checked-card.type_checked {
  position: relative;
}
.modal-checked-card.type_checked::after {
  content: " ";
  background-image: url("./images/checked.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
}
.modal-form-feild.type_bottom {
  margin-bottom: 28px;
}
.modal-section {
  color: var(--color-sub-color05);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 210px;
  height: 32px;
  margin-top: 12px;
  position: relative;
}
.modal-section::after {
  position: absolute;
  content: " ";
  background-image: url("./images/option-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 14px;
  height: 14px;
  right: 10px;
  pointer-events: none;
}
.modal-footer {
  background: #eee;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 14px;
  border-radius: 0 0 12px 12px;
}
.modal-footer-cancel,
.modal-footer-check {
  padding: 8px 40px;
  border-radius: 4px;
  color: var(--color-Primary-color01);
}
.modal-footer-cancel {
  background-color: var(--color-sub-color04);
}
.modal-footer-check {
  background-color: var(--color-Primary-color02);
}
